body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    position: relative;
}
.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    margin-bottom: 20px;
}
input[type="text"], input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="email"], input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    background-color: #06b500;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.nav-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
}
.nav-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #008CBA;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
}
.nav-buttons button:hover {
    background-color: #06b500;
}
