body {
    font-family: Arial, sans-serif;
    background-image: url('../index.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}
.container {
    text-align: center;
    background-color: rgba(236, 100, 9, 0.39);
    padding: 20px;
    border-radius: 15px;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}
.button:hover {
    background-color: #06b500;
}
